/* Header */
.logo {
	font-family: Lucida Sans;
	color: #130e16;
	font-size: 10px;
	text-align: center;
	border-bottom: 1px solid #cdb2c5;
}
			/* NavBar */
.navbar ul {
		display: flex;
		justify-content: center;
		padding: 0;
		margin: 0;
		list-style-type: none;
		background-color: #f8f6f9;
}
.navbar li a {
		display: block;
		color: #130e16;
		text-decoration: none;
		text-transform: uppercase;
		margin: 20px 25px;
		padding: 10px;
		font-size: 13px;
		letter-spacing: 2px;
		transition: all 0.4s;
}
.navbar ul li a:hover {
		color: #130e16;
		background-color: #cdb2c5;
}
.navbar ul li a.active{
		color: #130e16;
		background-color: #cdb2c5;
}

/* Banner */
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 85vh;
	background-image: linear-gradient(#88689c, #88689c), url("https://images.unsplash.com/photo-1469317835793-6d02c2392778?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-size: cover;
	background-blend-mode: multiply;
}
.banner_text {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.banner_text h1 {
	font-size: 100px;	
	font-weight: 500;
}
.banner_text p {
	letter-spacing: 5px;
}

/* Button */
.bg_dark {
	background-color: #b893a6;
}
.bg_light {
	background-color: #cdb2c5 !important;
}
.text_light {
	color: #130e16;
}
.bg_dark, .bg_light {
	display: inline-block;	
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 100px;
}
.btn_dark {
	display: inline-block;
	background-color: #b893a6;
	color: #fff;
	text-decoration: none;
	padding: 15px 25px;
	border-radius: 100px;
	font-size: 14px;
	letter-spacing: 2px;
	transition: all 0.4s;
}
.btn_dark:hover {
	background-color: #fff;	
	color: #130e16;
}
.margin_top {
	margin-top: 15px;
}

/** Best Seller H1 */
.header {
	color: #88689c;
	font-size: 50px;
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
}

/** Product styling and Gallery styling */
.products {
	padding: 70px 0;
	margin-left: 30px;
}
.row {
	display: inline-table;
}
.row_2 {
	display: inline-table;
}
.image {
	position: relative;
	width: 100%;
	max-width: 100%;
	height: 100%;
	background-color: #cdb2c5;
	overflow: hidden;
	border-radius: 2px;
}
.image_text {
	padding: 30px 15px;
	max-height: 300px;
	position: absolute;
	bottom: 0px;
	text-align: center;
	font-size: 15px;
	width: 100%;
	background-color: rgba(184, 147, 166, 0.7);
	color: #130e16;
}
.gallery_image {
	padding: 70px 0;
	padding-left: 40px;
}
.gallery_photos {
	margin-left: 350px;
}

/** About Us and Contact Us */
.about_us {
	padding: 70px 0;
}
.bg {
	width: 1825px;
	height: 400px;
	margin: 0 40px;
	background-color: #b893a6;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #fff;
	padding: 20px;
}
.discover {
	width: 1825px;
	height: 400px;
	margin: 0 40px;
	background-color: #f8f6f9;
}
#about {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #b893a6;
	padding: 10px;
    margin-left: 1000px;
}

/** Checkout form */
.row_3 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -16px;
}
.col-50 {
	-ms-flex: 50%;
	flex: 50%;
	padding: 0 16px;
}
input[type=text] input[type=number] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
label {
	margin-bottom: 10px;
	display: block;
}
.thank_you {
	color: #88689c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	text-align: center;
}
#order {
	color: #cdb2c5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
}
